// Comments form styling
form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f6f1f1;
  padding: 20px;
  border-radius: 8px;

  label {
    display: block;
    margin-bottom: 8px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    text-decoration: none;
    padding: 2px;
    cursor: pointer;
    color: #0b0a0a;
    background-color: #2980b9;
    border-radius: 10px;

    &:hover {
      background-color: rgb(122, 97, 171);
    }
  }
}

//Displayed comments styling
.comment-container {
  margin-top: 60px;
  padding: 20px;
  border: 1px solid #ccc;
  .comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}
